; This is a sample configuration file for MediaProxy.

; Relay main configuration
[Relay]
; A list of dispatchers to connect to, separated by spaces. The format is
; "host[:port] [host[:port] ...]". If a port is not specified the default port
; of 25060 will be used. "host" can be one of the following:
;  - A domain name that has a SRV record for a SIP proxy, i.e. at
;    "_udp._sip.<domain>". If the DNS lookup for this succeeds the relay
;    will connect to the IP address of the SIP proxy on the port specified in
;    this configuration.
;  - A hostname. The lookup for this will be performed if the SRV lookup
;    fails.
;  - An IP address. The relay will connect directly to this address.
;  Both the SRV and hostname lookups will be periodically refreshed (see
;  "srv_refresh" below).
; dispatchers = example.com 1.2.3.4:12345

; TLS certificate, private key and CA files. These are the credentials that
; are used for encrypting and verifying the outgoing connection(s) to the
; dispatcher(s). These will always need to be specified here as by default
; they are unspecified.
; certificate = relay.crt
; private_key = relay.key
; ca = ca.crt

; Start port and end port of the UDP port range which can be used to allocate
; to relayed streams. By default these are UDP ports 40000 through 50000.
; start_port = 40000
; end_port = 50000

; SRV and domain name refresh delay. The relay will periodically query the DNS
; server for SRV and A records of its list of dispatchers. The default is 60
; seconds.
; srv_refresh = 60

; If the relay cannot connect to a dispatcher is should retry after this
; amount of seconds. The default value is 30 seconds.
; reconnect_delay = 30

; Amount of time to wait for a stream to start sending data before the relay
; decides that it has timed out. The default value is 90 seconds.
; stream_timeout = 90

; Amount of time a call can be on hold before it is declared expired by the
; relay. The default is 7200 seconds (2 hours).
; on_hold_timeout = 7200

; Interval between measurements of the aggregate amount of data processed by
; the relay per second. The default is to measure every 15 seconds.
; speed_interval = 15
; This is a sample configuration file for the MediaProxy Dispatcher.

[Dispatcher]

; Listen address for incoming connections from the relay(s). The format is
; "ip[:port]". If the ip is "0.0.0.0" the dispatcher will listen on all
; interfaces of this host. If the port is not specified, the dispatcher will
; listen on the default port of 25060.
; listen = 0.0.0.0

; TLS certificate, private key and CA files. These are the credentials that
; are used for encrypting and verifying the incoming connection(s) from the
; relay(s). These will always need to be specified here as by default they are
; unspecified.
; certificate = dispatcher.crt
; private_key = dispatcher.key
; ca = ca.crt

; Local socket on which to communicate with OpenSER. The OpenSER mediaproxy
; module should be configured to connect to this socket.
; socket = /var/run/mediaproxy/dispatcher.sock

; Listen address for incoming management interface connections. Clients can
; connect to this and issue commands to query the status of the relays and
; their sessions. The format is "ip[:port]". If the ip is "0.0.0.0" the
; dispatcher will listen on all interfaces of this host. If the port is not
; specified, the dispatcher will listen on the default port of 25061.
; listen_management = 0.0.0.0

; Whether or not to use TLS on the management interface. Note that the TLS
; credentials for the relay connections will be re-used for this connection.
; management_use_tls = yes

; Timeout value in second for individual relays. When a command is sent from
; the dispatcher to a relay it will wait this amount of seconds for a reply.
; The default is 5 seconds.
; relay_timeout = 5

; A comma separated list of accounting modules that will be used to do
; accounting on the session information once a session has finished. Currently
; only "radius" and "database" are included, the configuration of which is
; performed below. The default is to use no accounting module.
; accounting =

; Accounting modules configuration

; Database configuration
[Database]

; URI for the database in SQLObject format.
; dburi = mysql://mediaproxy:CHANGEME@localhost/mediaproxy

; Name for the SQL table to create entries in.
; sessions_table = media_sessions

; Names for the columns within the SQL table. starttime_column is a datetime
; column and info_column is a blob. The others are strings.
; callid_column = call_id
; fromtag_column = from_tag
; totag_column = to_tag
; starttime_column = start_time
; info_column = info

; RADIUS accounting configuration
[Radius]

; OpenSER RADIUS configuration file. All RADIUS cofiguration parameters will
; be read from this file, including dictionary files.
; config_file = /etc/openser/radius/client.conf

; Additional dictionary files. The dictionary values in this file will be
; loaded in addition to the ones from the OpenSER config.
; additional_dictionary = radius/dictionary
