include LICENSE
include INSTALL
include README
include TODO
include MANIFEST.in
include build_inplace

include debian/changelog
include debian/compat
include debian/control
include debian/copyright
include debian/rules
include debian/source/format
include debian/*.apache2
include debian/*.conf
include debian/*.docs
include debian/*.install
include debian/*.lintian-overrides
include debian/*.manpages
include debian/*.preinst
include debian/*.service

recursive-include test *.py multitest

graft doc
graft radius
graft tls
graft web
