recursive-include debian  changelog compat control copyright pycompat rules
recursive-include debian  *.dirs *.install *.manpages *.init *.docs
recursive-include debian  *.apache_conf
recursive-include doc/man *.[1-9]
recursive-include mediaproxy/interfaces/system/libiptc README *.c *.h
recursive-include radius  *
recursive-include test    *.py multitest
recursive-include tls     .placeholder README *.crt *.key *.pem
recursive-include web     *
prune debian/tmp
prune debian/mediaproxy-*
include INSTALL LICENSE MANIFEST.in TODO build_inplace config.ini.sample
