Source: mediaproxy
Section: net
Priority: optional
Maintainer: Dan Pascu <dan@ag-projects.com>
Uploaders: Tijmen de Mes <tijmen@ag-projects.com>
Build-Depends: debhelper (>= 11), dh-apache2, dh-python, python-all-dev, python-all-dbg, libnetfilter-conntrack-dev, iptables-dev
Standards-Version: 3.9.8

Package: mediaproxy-common
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends},
         iptables,
         python-application (>= 2.8.0),
         python-cjson,
         python-gnutls (>= 3.0.0),
         python-pyrad,
         python-sqlobject,
         python-twisted-core,
         python-twisted-names,
         python-zope.interface
Description: MediaProxy common files
 MediaProxy is a distributed far end NAT traversal solution for media streams
 of SIP calls. MediaProxy has a dispatcher running on the same host as the
 OpenSIPS SIP proxy and multiple media relays distributed over the network.
 The media relays work by manipulating conntrack rules in the Linux kernel to
 create paths that forward the media streams between the 2 SIP user agents
 participating in the call. Because it avoids copying stream data between
 kernel and user space like other implementations, MediaProxy can handle many
 more media streams at a time, being limited only by the network interface
 bandwidth and the Linux kernel network layer processing speed.
 .
 MediaProxy features secure encrypted communication between the dispatcher
 and the relays, advanced accounting capabilities using multiple backends,
 support for any combination of audio and video streams, realtime statistics,
 T.38 fax support as well as automatic load balancing and redundancy among
 the active relays.
 .
 This package includes files common to all MediaProxy packages.

Package: mediaproxy-dispatcher
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, mediaproxy-common (>= ${source:Version}), lsb-base
Description: MediaProxy dispatcher for OpenSIPS
 MediaProxy is a distributed far end NAT traversal solution for media streams
 of SIP calls. MediaProxy has a dispatcher running on the same host as the
 OpenSIPS SIP proxy and multiple media relays distributed over the network.
 The media relays work by manipulating conntrack rules in the Linux kernel to
 create paths that forward the media streams between the 2 SIP user agents
 participating in the call. Because it avoids copying stream data between
 kernel and user space like other implementations, MediaProxy can handle many
 more media streams at a time, being limited only by the network interface
 bandwidth and the Linux kernel network layer processing speed.
 .
 MediaProxy features secure encrypted communication between the dispatcher
 and the relays, advanced accounting capabilities using multiple backends,
 support for any combination of audio and video streams, realtime statistics,
 T.38 fax support as well as automatic load balancing and redundancy among
 the active relays.
 .
 This package provides the MediaProxy dispatcher.

Package: mediaproxy-relay
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, mediaproxy-common (>= ${source:Version}), lsb-base
Description: MediaProxy relay for OpenSIPS
 MediaProxy is a distributed far end NAT traversal solution for media streams
 of SIP calls. MediaProxy has a dispatcher running on the same host as the
 OpenSIPS SIP proxy and multiple media relays distributed over the network.
 The media relays work by manipulating conntrack rules in the Linux kernel to
 create paths that forward the media streams between the 2 SIP user agents
 participating in the call. Because it avoids copying stream data between
 kernel and user space like other implementations, MediaProxy can handle many
 more media streams at a time, being limited only by the network interface
 bandwidth and the Linux kernel network layer processing speed.
 .
 MediaProxy features secure encrypted communication between the dispatcher
 and the relays, advanced accounting capabilities using multiple backends,
 support for any combination of audio and video streams, realtime statistics,
 T.38 fax support as well as automatic load balancing and redundancy among
 the active relays.
 .
 This package provides the MediaProxy relay.

Package: mediaproxy-web-sessions
Architecture: all
Depends: ${misc:Depends}, libapache2-mod-php
Description: MediaProxy sessions web view
 MediaProxy is a distributed far end NAT traversal solution for media streams
 of SIP calls. MediaProxy has a dispatcher running on the same host as the
 OpenSIPS SIP proxy and multiple media relays distributed over the network.
 The media relays work by manipulating conntrack rules in the Linux kernel to
 create paths that forward the media streams between the 2 SIP user agents
 participating in the call. Because it avoids copying stream data between
 kernel and user space like other implementations, MediaProxy can handle many
 more media streams at a time, being limited only by the network interface
 bandwidth and the Linux kernel network layer processing speed.
 .
 MediaProxy features secure encrypted communication between the dispatcher
 and the relays, advanced accounting capabilities using multiple backends,
 support for any combination of audio and video streams, realtime statistics,
 T.38 fax support as well as automatic load balancing and redundancy among
 the active relays.
 .
 This package provides a simple web page to display active media sessions.

