Source: mediaproxy
Section: net
Priority: optional
Maintainer: Dan Pascu <dan@ag-projects.com>
Build-Depends: cdbs (>= 0.4.47), debhelper (>= 5.0.42), python-all-dev (>= 2.4.4), python-support, libnetfilter-conntrack-dev
Standards-Version: 3.8.0

Package: mediaproxy-common
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, python-application, python-cjson, python-gnutls, python-twisted-core, python-twisted-names, python-zopeinterface
Recommends: python-pyrad, python-sqlobject
Description: MediaProxy common files
 MediaProxy is a distributed far end NAT traversal solution for media streams
 for SIP calls. MediaProxy has a dispatcher running on the same host with an
 OpenSIPS SIP proxy and multiple media relays distributed over the network.
 The media relays work by manipulating conntrack rules in the Linux kernel to
 create paths that forward the media streams between the 2 SIP user agents
 participating in the call. Because it avoids to copy stream data from kernel
 space to user space and back to kernel space like other implementations,
 MediaProxy can handle much more media streams at a time, limited only to the
 network interface bandwidth and the Linux kernel network layer processing
 speed.
 .
 MediaProxy features secure encrypted communication between the dispatcher
 and the relays, advanced accounting capabilities using multiple backends,
 support for any combination of audio and video streams, realtime statistics,
 T.38 fax support as well as automatic load balancing and redundancy among
 the active relays.
 .
 This package includes files common to all MediaProxy packages.

Package: mediaproxy-dispatcher
Architecture: all
Depends: ${python:Depends}, mediaproxy-common (>= ${source:Version}), lsb-base
Description: MediaProxy dispatcher
 MediaProxy is a distributed far end NAT traversal solution for media streams
 for SIP calls. MediaProxy has a dispatcher running on the same host with an
 OpenSIPS SIP proxy and multiple media relays distributed over the network.
 The media relays work by manipulating conntrack rules in the Linux kernel to
 create paths that forward the media streams between the 2 SIP user agents
 participating in the call. Because it avoids to copy stream data from kernel
 space to user space and back to kernel space like other implementations,
 MediaProxy can handle much more media streams at a time, limited only to the
 network interface bandwidth and the Linux kernel network layer processing
 speed.
 .
 MediaProxy features secure encrypted communication between the dispatcher
 and the relays, advanced accounting capabilities using multiple backends,
 support for any combination of audio and video streams, realtime statistics,
 T.38 fax support as well as automatic load balancing and redundancy among
 the active relays.
 .
 This package provides the MediaProxy dispatcher.

Package: mediaproxy-relay
Architecture: all
Depends: ${python:Depends}, mediaproxy-common (>= ${source:Version}), lsb-base
Description: MediaProxy relay
 MediaProxy is a distributed far end NAT traversal solution for media streams
 for SIP calls. MediaProxy has a dispatcher running on the same host with an
 OpenSIPS SIP proxy and multiple media relays distributed over the network.
 The media relays work by manipulating conntrack rules in the Linux kernel to
 create paths that forward the media streams between the 2 SIP user agents
 participating in the call. Because it avoids to copy stream data from kernel
 space to user space and back to kernel space like other implementations,
 MediaProxy can handle much more media streams at a time, limited only to the
 network interface bandwidth and the Linux kernel network layer processing
 speed.
 .
 MediaProxy features secure encrypted communication between the dispatcher
 and the relays, advanced accounting capabilities using multiple backends,
 support for any combination of audio and video streams, realtime statistics,
 T.38 fax support as well as automatic load balancing and redundancy among
 the active relays.
 .
 This package provides the MediaProxy relay.

Package: mediaproxy-web-sessions
Architecture: all
Depends: php5 | php5-cgi
Description: MediaProxy sessions web page
 MediaProxy is a distributed far end NAT traversal solution for media streams
 for SIP calls. MediaProxy has a dispatcher running on the same host with an
 OpenSIPS SIP proxy and multiple media relays distributed over the network.
 The media relays work by manipulating conntrack rules in the Linux kernel to
 create paths that forward the media streams between the 2 SIP user agents
 participating in the call. Because it avoids to copy stream data from kernel
 space to user space and back to kernel space like other implementations,
 MediaProxy can handle much more media streams at a time, limited only to the
 network interface bandwidth and the Linux kernel network layer processing
 speed.
 .
 MediaProxy features secure encrypted communication between the dispatcher
 and the relays, advanced accounting capabilities using multiple backends,
 support for any combination of audio and video streams, realtime statistics,
 T.38 fax support as well as automatic load balancing and redundancy among
 the active relays.
 .
 This package provides a simple web page to display active media sessions.

