#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pysupport
DEB_COMPRESS_EXCLUDE := .py
DEB_DH_INSTALLINIT_ARGS=-- defaults 21
DEB_PYTHON_MODULE_PACKAGES=mediaproxy-common

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

DEB_INSTALL_DOCS_ALL=
DEB_INSTALL_DOCS_mediaproxy-common=README TODO
DEB_INSTALL_DOCS_mediaproxy-dispatcher=README TODO
DEB_INSTALL_DOCS_mediaproxy-relay=README TODO
DEB_INSTALL_DOCS_mediaproxy-web-sessions=web/README

clean::
	-rm -rf build dist MANIFEST

install/mediaproxy-common::
	install -m 0644 config.ini.sample debian/mediaproxy-common/etc/mediaproxy/config.ini

install/mediaproxy-dispatcher::
	install -D -m 755 media-dispatcher debian/tmp/usr/bin/media-dispatcher
	sed --in-place 's,/usr/bin/env python,/usr/bin/python,' debian/tmp/usr/bin/media-dispatcher

install/mediaproxy-relay::
	install -D -m 755 media-relay debian/tmp/usr/bin/media-relay
	sed --in-place 's,/usr/bin/env python,/usr/bin/python,' debian/tmp/usr/bin/media-relay

install/mediaproxy-web-sessions::
	install -m 0644 web/config/media_sessions.conf.sample debian/mediaproxy-web-sessions/etc/mediaproxy/web/media_sessions.conf
	install -m 0644 debian/mediaproxy-web-sessions.apache_conf debian/mediaproxy-web-sessions/etc/apache2/conf.d/mediaproxy_sessions
